.td.PerformanceCell {
    width: 75px;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.border-top {
    border-top: .05em solid grey !important;
}

.name-heading {
    text-transform: uppercase;
}

.image {
    border: .05em solid grey;
    border-radius: 50%;
    height: 15vh;
    margin-right: 3em;
}

.expand-btn {
    font-size: 2em;
    color: grey;
    padding-left: 10em;
    outline: none;
    background: transparent;
}

.tags-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}